.app-header{
    background-image: linear-gradient(to right, red, yellow, yellow, green,);
    // background-image: linear-gradient(red, yellow, yellow, green);
}
.example-spacer {
    flex: 1 1 auto;
  }
  .mat-button{
    text-shadow: 2px 2px 4px #000000;
    font-size: larger;
  }

.italic-title{
  text-shadow: 2px 2px 4px #000000;
  font-size: larger;
}
.username{
    font-style: oblique;
    text-shadow: none;
    color: yellow;
}