/* You can add global styles to this file, and also import other style files */
// @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "./custom-theme.scss";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.highlight-search{
    color:#ff1744;
    text-decoration: underline;;
  }

//   .pl_3{
//     padding-left: 3rem;
//   } 
//   .ml_3{
//       margin-left: 3rem;
//   }